:root {
    --colPrimary: red;
    --colSecondary: yellow;
    --colTertiary: green;
}

html {
    min-width: 1vw;
    min-height: 1vh;
    width: auto;
    height: auto;

    overflow: hidden;
}

body {
    min-width: 1vw;
    min-height: 1vh;
    width: auto;
    height: auto;

    overflow: hidden;
}

#bb_site_wrapper {
    background-color: #406070;

    min-width: 1vw;
    min-height: 1vh;
    width: auto;
    height: auto;
    
    overflow: auto;
}

#bb_layout_grid {
    width: 100%;
    height: 100%;

    display: grid;
}

#bb_layout_vertical {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#bb_layout_horizontal {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}