:root {
	--colBlock: #fff;
	--colPrimary: red;
	--colSecondary: yellow;
	--colTertiary: green;
}

html {
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;
	
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	overflow: hidden;
}

#bb_SiteWrapper {
	background-color: #406070;

	width: auto;
	height: auto;

	margin: 0;
	padding: 0;
	
	overflow: auto;
}

.bb_layout_grid {
	width: 100%;
	height: 100%;

	display: grid;
}

.bb_layout_vertical {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.bb_layout_horizontal {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
}

.bb_padder {
	width: 100%;
	height: 100%;

	padding: 2rem;
}

.bb_container {
	background-color: var(--colBlock);

	width: 100%;
	height: 100%;

	padding: 2%;

	border-radius: 4px;
}

#bb_NavBar {
	width: 100%;
	height: 8rem;
}

#bb_NavLogo {
	width: 2rem;
	height: 2rem;
	
	margin: 0;
	padding: 0;
}