* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;	
}

:root {
	--colBlock: #fff;
	--colBack: #406070;
	--colPrimary: red;
	--colSecondary: yellow;
	--colTertiary: green;
	--varPadding: 0.24rem;
}

html {
	width: 100vw;
	height: 100vh;

	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;

	overflow: hidden;
}

button {
	background-color: var(--colBlock);

	width: 12rem;
	height: 4rem;
}

p {
	color: #000;
	width: auto;
	height: auto;
}

#bb_SiteWrapper {
	background-color: var(--colBack);

	width: 100%;
	height: 100%;

	overflow: auto;
}

.bb_layout_grid {
	width: 100%;
	height: 100%;
	
	display: grid;
}

.bb_layout_vertical {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bb_layout_horizontal {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.bb_padder {
	width: 100%;
	height: 100%;
	
	padding: var(--varPadding);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.bb_bigpadder {
	width: 100%;
	height: 100%;
	
	padding: calc(64 * var(--varPadding));

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.bb_container {
	background-color: var(--colBlock);

	border-radius: 8px;
}

#bb_NavBar {
	height: 8rem;
}

#bb_NavLogo {
	width: 2rem;
	height: 2rem;
}