#backgroundImage {
    background-image: url("/img/spectrialBG6.jpg");
    background-position: bottom;
    background-size: cover;

    width: 100%;
    height: 100%;
}

#contentContainer {
    background-color: #fff;

    width: 100%;
    height: 100%;

    border: 1px;
}