<table>
    <tr>
        <th>Expression</th>
        <th>Shorthand</th>
    </tr>
    <tr>
        <td>\( \psi_{B_{a}}(b) \)</td>
        <td>\( \tau_{a}(b) \)</td>
    </tr>
    <tr>
        <td>\( \psi_{R}(a) \)</td>
        <td>\( \tau_{R}(a) \)</td>
    </tr>
    <tr>
        <td>\( \tau_{R}(a) \) for \( a < R \)</td>
        <td>\( B_{1 + a} \)</td>
    </tr>
</table>

<table class="analysis">
    <tr>
        <th>SbOCF</th>
        <th>Ordinal</th>
        <th>BMS</th>
        <th>Notes</th>
    </tr>
    <tr>
        <td>\( \tau(\tau_{R}(0)) \)</td>
        <td>\( \Omega \)</td>
        <td>\( (0,0)(1,1) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(\tau_{R}(1)) \)</td>
        <td>possibly a \( \Pi_{2} \)-Nonprojectible</td>
        <td>\( >(0,0,0)(1,1,1)(2,2,2) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
</table>