<table>
    <tr>
        <th>Expression</th>
        <th>Shorthand</th>
    </tr>
    <tr>
        <td>\( \psi_{B_{a}}(b) \)</td>
        <td>\( \tau_{a}(b) \)</td>
    </tr>
    <tr>
        <td>\( \tau_{0}(a) \)</td>
        <td>\( \tau(a) \)</td>
    </tr>
    <tr>
        <td>\( \tau_{a}(0) \)</td>
        <td>\( B_{a} \)</td>
    </tr>
    <tr>
        <td>\( \tau_{1}(0) \)</td>
        <td>\( B \)</td>
    </tr>
    <tr>
        <td>\( a + a + ... + a + a \)</td>
        <td>\( a \cdot n \)</td>
    </tr>
    <tr>
        <td>\( \psi_{tau(0)}(0) \)</td>
        <td>\( 1 \)</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(0)}(1) \)</td>
        <td>\( \omega \)</td>
    </tr>
</table>

<table>
    <tr>
        <th>SbOCF</th>
        <th>Ordinal</th>
        <th>Reflection Analog</th>
        <th>Notes</th>
    </tr>
    <tr>
        <td>\( \tau(0) \)</td>
        <td>\( \Omega \)</td>
        <td>\( 2 \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(1) \)</td>
        <td>\( \Omega_{2} \)</td>
        <td>2nd \( 2 \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(2) \)</td>
        <td>\( \Omega_{3} \)</td>
        <td>3rd \( 2 \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(\omega) \)</td>
        <td>\( \Omega_{\omega} \)</td>
        <td>\( 1(2) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(\tau(0)) \)</td>
        <td>\( \Omega_{\Omega} \)</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \psi_{\psi_{\tau(B)}(\tau(B))}(\psi_{\tau(B)}(\tau(B))) \)</td>
        <td>\( \Omega(1,0) \)</td>
        <td>-</td>
        <td>First OFP (Omega Fixed Point)</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(B)}(\tau(B)) \)</td>
        <td>\( I \)</td>
        <td>\( 2 \& 1(2) \)</td>
        <td>First Regular OFP, First Inaccessible</td>
    </tr>
    <tr>
        <td>\( \tau(B) \)</td>
        <td>\( M \)</td>
        <td>\( 2(2) \)</td>
        <td>First Mahlo</td>
    </tr>
    <tr>
        <td>\( \tau(B + 1) \)</td>
        <td>\( M_{2} \)</td>
        <td>2nd \( 2(2) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B + 2) \)</td>
        <td>\( M_{3} \)</td>
        <td>3rd \( 2(2) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \psi_{\psi_{\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2))}(\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2)))}(\psi_{\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2))}(\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2)))) \)</td>
        <td>\( M[\Omega](1,0) \)</td>
        <td>-</td>
        <td>First MFP (Mahlo Fixed Point)</td>
    </tr>
    <tr>
        <td>\( \psi_{\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2))}(\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2))) \)</td>
        <td>\( M[I](1,0) \)</td>
        <td>-</td>
        <td>First Regular MFP</td>
    </tr>
    <tr>
        <td>\( \psi_{\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2))}(\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2))^{\psi_{\tau(B \cdot 2)}(\tau(B \cdot 2))}) \)</td>
        <td>\( M[I](1,0,0) \)</td>
        <td>-</td>
        <td>First Hyper-Inaccessible MFP</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(B \cdot 2)}(\tau(B \cdot 2)) \)</td>
        <td>\( M(1,0) \)</td>
        <td>\( 2 \& 1(2(2)) \)</td>
        <td>First Mahlo MFP</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(B \cdot 2)}(\tau(B \cdot 2)^{\tau(B \cdot 2)}) \)</td>
        <td>\( M(1,0,0) \)</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B \cdot 2) \)</td>
        <td>\( N \)</td>
        <td>\( 2(2(2)) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B \cdot 2 + 1) \)</td>
        <td>\( N_{2} \)</td>
        <td>2nd \( 2(2(2)) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B \cdot 2 + 2) \)</td>
        <td>\( N_{3} \)</td>
        <td>3rd \( 2(2(2)) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B \cdot 2 + \tau(B \cdot 2)) \)</td>
        <td>\( N_{N} \)</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \psi_{\psi_{\psi_{\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))}(\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3)))}(\psi_{\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))}(\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))))}(\psi_{\psi_{\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))}(\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3)))}(\psi_{\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))}(\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))))) \)</td>
        <td>\( N[\Omega](1,0) \)</td>
        <td>-</td>
        <td>First NFP</td>
    </tr>
    <tr>
        <td>\( \psi_{\psi_{\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))}(\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3)))}(\psi_{\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))}(\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3)))) \)</td>
        <td>\( N[I](1,0) \)</td>
        <td>-</td>
        <td>First Regular NFP</td>
    </tr>
    <tr>
        <td>\( \psi_{\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))}(\psi_{\tau(B \cdot 3)}(\tau(B \cdot 3))) \)</td>
        <td>\( N[M](1,0) \)</td>
        <td>-</td>
        <td>First Mahlo NFP</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(B \cdot 3)}(\tau(B \cdot 3)) \)</td>
        <td>\( N(1,0) \)</td>
        <td>\( 2 \& 1(2(2(2))) \)</td>
        <td>First 1-Mahlo NFP</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(B \cdot 3)}(\tau(B \cdot 3)^{2}) \)</td>
        <td>\( N(2,0) \)</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(B \cdot 3)}(\tau(B \cdot 3)^{\tau(B \cdot 3)}) \)</td>
        <td>\( N(1,0,0) \)</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B \cdot 3) \)</td>
        <td>2-Mahlo</td>
        <td>\( 2(2(2(2))) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B \cdot \omega) \)</td>
        <td>\( \omega \)-Mahlo</td>
        <td>\( 2^{\omega}(2) \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(B^{2})}(\tau(B^{2})) \)</td>
        <td>hyper-Mahlo</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{2}) \)</td>
        <td>\( G \) (or fake \( K \) )</td>
        <td>\( 3 \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{3}) \)</td>
        <td>a grand-mahlo</td>
        <td>\( 4 \)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{\omega}) \)</td>
        <td>\( \psi(T^{T^{\omega}}) \)</td>
        <td>\( \omega \) (or \( \lambda a.a + 1 \)-stable)</td>
        <td>\( (0,0,0)(1,1,1)(2,2,0) \)</td>
    </tr>
    <tr>
        <td>\( \tau(B^{\omega} + 1) \)</td>
        <td>?</td>
        <td>2nd \( \lambda a.a + 1 \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \psi_{\tau(B^{B})}(\tau(B^{B})) \)</td>
        <td>?</td>
        <td>\( \lambda a.a \cdot 2 \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>\( T \)</td>
        <td>\( \lambda a.a^{+} \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B} + 1) \)</td>
        <td>\( T_{2} \)</td>
        <td>2nd \( \lambda a.a^{+} \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( - \)</td>
        <td>?</td>
        <td>\( \lambda a.a^{++} \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>2nd \( \lambda a.a^{++} \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>\( \lambda a.a^{+^{\omega}} \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>\( \lambda a.\)(next recursively inaccessible after \( a \))-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>\( \lambda a.\)(next recursively mahlo after \( a \))-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>\( \lambda a.\)(next recursively 1-mahlo after \( a \))-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>\( \lambda a.\)(next recursively greatly-mahlo after \( a \))-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>\( \lambda a.\)(next recursively \( \Pi_{4} \) after \( a \))-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>2-ply-\( \lambda a.a + 1 \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B^{B}}) \)</td>
        <td>?</td>
        <td>2-ply-\( \lambda a.a^{+} \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>3-ply-\( \lambda a.a + 1 \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B^{B^{B}}}) \)</td>
        <td>?</td>
        <td>3-ply-\( \lambda a.a^{+} \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B}) \)</td>
        <td>?</td>
        <td>4-ply-\( \lambda a.a + 1 \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(B^{B^{B^{B^{B}}}}) \)</td>
        <td>?</td>
        <td>4-ply-\( \lambda a.a^{+} \)-stable</td>
        <td>-</td>
    </tr>
    <tr>
        <td>\( \tau(\varepsilon_{B + 1}) \)</td>
        <td>?</td>
        <td>pseudo-\( \omega \)-ply-stable</td>
        <td>\( (0,0,0)(1,1,1)(2,2,2) \) is around here</td>
    </tr>
    <tr>
        <td>\( \tau(B_{2}) \)</td>
        <td>?</td>
        <td>?</td>
        <td>Probably a \( \Pi_{2} \)-Nonprojectible</td>
    </tr>
</table>